<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Lumidec Admin</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/images/logocropped.png">
    <!-- Template CSS -->
    <link href="../assets/css/main.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha384-pzjw3lrFtIK2v99qfbMbk5E6PAA5H+1gi2mOy/2XQJyVkW5CjmJ2NoW7kN2ItEny" crossorigin="anonymous">
    <!-- Add Cropper.js CSS -->
    <link rel="stylesheet" href="https://unpkg.com/cropperjs/dist/cropper.min.css">
    <!-- Add jQuery (required by Cropper.js) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Add Cropper.js -->
    <script src="https://unpkg.com/cropperjs/dist/cropper.min.js"></script>
    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <!-- Include DataTables Buttons CSS -->
    <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/buttons/1.7.1/css/buttons.dataTables.min.css">
    <!-- Include DataTables Buttons JavaScript -->
    <script src="https://cdn.datatables.net/buttons/1.7.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.print.min.js"></script>
    <!-- Include Cropper.js CSS -->
    <link rel="stylesheet" href="https://unpkg.com/cropperjs/dist/cropper.min.css">
    <!-- Include Cropper.js -->
    <script src="https://unpkg.com/cropperjs/dist/cropper.min.js"></script>


    <style>
        body {
            background-color: #f0f0f0;
            font-family: Arial, sans-serif;
        }

        .container-fluid {
            padding-top: 2rem;
        }

        .card {
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            padding: 1.5rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .card i {
            font-size: 3rem;
            color: #007bff;
        }

        .card p {
            margin-bottom: 0.5rem;
            color: #6c757d;
        }

        .card h6 {
            margin: 0;
            font-size: 1.25rem;
            color: #333;
        }

        .row {
            margin: 0 -15px;
        }

        .col-sm-6 {
            padding: 0 15px;
        }

        .text-center {
            text-align: center;
        }

        .linechart,
        .sales-chart,
        .pie-chart {
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            padding: 1.5rem;
            margin-bottom: 1.5rem;
        }
        .actionBtn{
            margin-right: 15px;
            padding: 2px;
        }
    </style>
</head>

<body>

    <body>
        <div class="screen-overlay"></div>
        <aside class="navbar-aside" id="offcanvas_aside">
            <div class="aside-top">
                <a href="index.html" class="brand-wrap">
                    <img src="/images/logo.png" class="logo" alt="Lumidec Logo">
                </a>
                <div>
                    <button class="btn btn-icon btn-aside-minimize">
                        <i class="text-muted material-icons md-menu_open"></i>
                    </button>
                </div>
            </div>
            <nav>
                <ul class="menu-aside">
                    <li class="menu-item">
                        <a class="menu-link" href="/admin/dashboard">
                            <i class="icon material-icons md-home"></i>
                            <span class="text">Dashboard</span>
                        </a>
                    </li>
                    <li class="menu-item has-submenu">
                        <a class="menu-link" href="page-products-list.html">
                            <i class="icon material-icons md-shopping_bag"></i>
                            <span class="text">Products</span>
                        </a>
                        <div class="submenu">
                            <a href="/admin/productList">Product List</a>
                            <a href="/admin/addProduct">Add product</a>
                            <a href="/admin/loadCategory">Categories</a>
                        </div>
                    </li>
                    <li class="menu-item has-submenu">
                        <a class="menu-link" href="#">
                            <i class="icon material-icons md-person"></i>
                            <span class="text">Users</span>
                        </a>
                        <div class="submenu">
                            <a href="/admin/loadUserlist">Users List</a>
                        </div>
                    </li>
                    <li class="menu-item has-submenu">
                        <a class="menu-link" href="#">
                            <i class="icon material-icons md-shopping_cart"></i>
                            <span class="text">Orders</span>
                        </a>
                        <div class="submenu">
                            <a href="/admin/order">Orders List</a>
                        </div>
                    </li>
                    <li class="menu-item has-submenu">
                        <a class="menu-link" href="#">
                            <i class="icon material-icons md-local_offer"></i>
                            <span class="text">Coupons/Offers</span>
                        </a>
                        <div class="submenu">
                            <a href="/admin/addCoupon">Add & View Coupons</a>
                            <a href="/admin/order">Add & View Offers</a>
                        </div>
                    </li>
                    <li class="menu-item has-submenu">
                        <a class="menu-link" href="#">
                            <i class="icon material-icons md-stars"></i>
                            <span class="text">Banner</span>
                        </a>
                        <div class="submenu">
                            <a href="/admin/addBanner">Add Banner</a>
                            <a href="/admin/listBanner">List Banner</a>
                        </div>
                    </li>
                    <li class="menu-item has-submenu">
                        <a class="menu-link" href="#">
                            <i class="icon material-icons md-store"></i>
                            <span class="text">Sales Report</span>
                        </a>
                        <div class="submenu">
                            <a href="/admin/salesreport">Sales Report</a>
                        </div>
                    </li>
                    <li class="menu-item has-submenu">
                        <a class="menu-link" href="#">
                            <i class="icon material-icons md-star"></i>
                            <span class="text">Reviews</span>
                        </a>
                        <div class="submenu">
                            <a href="/admin/loadReviewlist">Review Management</a>
                        </div>
                    </li>
                </ul>
                <br>
                <br>
            </nav>
        </aside>
        <main class="main-wrap">
            <header class="main-header navbar">
                <div class="col-search">
            <h6 style="color: #003366;">"Merging Commerce and Community: Fueling Connections, Empowering Businesses."</h6>
                </div>
                <div style="margin-right: 15px;" class="col-nav">
                    
                    <ul class="nav">
                       <li class="nav-item"><a class="dropdown-item text-danger" href="/admin/adminlogout"><i
                        class="material-icons md-exit_to_app"></i>Logout</a></li>
                        <li class="nav-item">
                            <a href="#" class="requestfullscreen nav-link btn-icon">
                                <i class="material-icons md-cast"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                                <img class="img-xs rounded-circle" src="/images/logocropped.png" alt="Amin">
                        </li>
                    </ul>
                </div>
            </header>